.m-menu {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 48px;
}

.m-menu__btn {
	position: relative;
	width: 17.0666%;
	height: 100%;
	border-right: 1px solid #f4f3f3;
	border-bottom: 1px solid #f4f3f3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* класс для активации кнопки .m__btn_active */

.m__btn_top {
	width: 32px;
	content: url('../../../../assets/icons/hamb.svg');
	position: absolute;
	top: 15px;
}

.m-menu__btn:hover .m__btn_top {
	animation: btn_top 1s forwards;
}

/* 
.m__btn_active .m__btn_top {
    animation: btn_top 1s forwards;
} */

.m__btn_middle {
	width: 32px;
	content: url('../../../../assets/icons/hamb.svg');
}

.m-menu__btn:hover .m__btn_middle {
	animation: btn_middle 1s forwards;
}

/* .m__btn_active .m__btn_middle {
    animation: btn_middle 1s forwards;
} */

.m__btn_bot {
	width: 32px;
	content: url('../../../../assets/icons/hamb.svg');
	bottom: 15px;
	position: absolute;
}

.m-menu__btn:hover .m__btn_bot {
	animation: btn_bot 1s forwards;
}

/* 
.m__btn_active .m__btn_bot {
    animation: btn_bot 1s forwards;
} */

@keyframes btn_top {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(35deg) translateY(4px) translateX(8px);
		/* content: url('../assets/icons/blhamb.svg'); */
	}
}

@keyframes btn_middle {
	100% {
		transform: translateX(10px);
		opacity: 0;
		/* content: url('../assets/icons/blhamb.svg'); */
	}
}

@keyframes btn_bot {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-35deg) translateY(-4px) translateX(9px);
		/* content: url('../assets/icons/blhamb.svg'); */
	}
}

.m-menu__content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 65.866666%;
	height: 100%;
	font-family: 'AkrobatSemiBold';
	font-size: 14px;
	color: #f4f3f3;
	border-bottom: 1px solid #f4f3f3;
}

.m-menu__buy p {
	margin: 0;
}

.m-menu__buy {
	width: 17.0666%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'AkrobatRegular';
	font-size: 16px;
	line-height: 115%;
	color: #101010;
	background: #76fb9c;
	border-bottom: 1px solid #76fb9c;
}

.m-menu__content img {
	animation: star-roll 6s linear infinite;
}

@keyframes star-roll {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.m-menu__content img:nth-child(4),
.m-menu__content span:nth-child(5),
.m-menu__content img:nth-child(6),
.m-menu__content span:nth-child(7),
.m-menu__content img:nth-child(8),
.m-menu__content span:nth-child(9) {
	display: none;
}

@media screen and (min-width: 500px) {
	.m-menu__content img:nth-child(4),
	.m-menu__content span:nth-child(5) {
		display: block;
	}
}

@media screen and (min-width: 700px) {
	.m-menu__content img:nth-child(6),
	.m-menu__content span:nth-child(7) {
		display: block;
	}
}

@media screen and (min-width: 920px) {
	.m-menu__content img:nth-child(8),
	.m-menu__content span:nth-child(9) {
		display: block;
	}
}
