.gastronomybox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 40px;
	margin-bottom: 0;
	flex: 1;
	max-width: calc(100% - 161px);
	&__title {
		// width: fit-content;
		font-family: 'Geniral';
		font-style: normal;
		font-size: 380px;
		font-weight: 400;
		line-height: 90%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #101010;
		white-space: nowrap;
		position: relative;
		animation: scroll--left 25s infinite linear;
		writing-mode: vertical-rl;
		padding-right: 40px;
		&::after {
			position: absolute;
			content: 'События События\a0';
		}
		&-en::after {
			position: absolute;
			content: 'Events Events\a0';
		}
		&-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex: 1;
		}
	}
	// .gastronomybox__title-en::after{
	// 	position: absolute;
	// 		content: 'Events Events\a0';
	// }
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 40px;
	}
	&__next {
		display: flex;
		align-items: center;
		height: 40px;
		gap: 19px;
		white-space: nowrap;
		overflow: hidden;
		border-top: 1px solid #bebebe;
		margin-left: -40px;
		margin-right: -40px;
		padding-left: 10px;
		span {
			white-space: nowrap;
			font-family: 'Akrobat';
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #101010;
		}
	}
}

.events-cont {
	background-color: #f4f3f3;
	// display: flex;
	// justify-content: start;
	// flex-direction: row;
	height: 100vh;
}
.events {
	&__container {
		display: flex;
		justify-content: space-between;
		height: 100vh;
	}
	&__content {
		width: 100%;
		margin-top: 40px;
		margin-right: 40px;
		@media screen and (max-width: 1550px) {
			width: 50%;
		}
		&-top {
			display: flex;
			justify-content: space-between;
			min-height: 190px;
			.btnbuyticket {
				position: relative;
				top: auto;
				right: auto;
				height: fit-content;
			}
		}
		&-items {
			height: 100%;
			overflow: scroll;
			padding-bottom: 200px;
			box-sizing: border-box;
			&::-webkit-scrollbar {
				display: none;
			}
			&__item {
				padding-top: 24px;
				padding-bottom: 25px;
				padding-left: 10px;
				display: flex;
				justify-content: space-between;
				border-top: 1px solid #bebebe;
				border-bottom: 1px solid #bebebe;
				font-family: 'Akrobat';
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: #101010;
				cursor: pointer;
				transition: all ease 0.2s;
				div {
					display: flex;
					align-items: center;
				}
				&:hover {
					background: #101010;
					div {
						color: #f4f3f3;
					}
					img {
						filter: invert(1);
					}
				}

				&.active {
					border-top: 1px solid #101010;
					border-bottom: 1px solid #101010;
				}
			}
			&__wrapper {
				display: flex;
				padding-top: 20px;
				padding-bottom: 20px;
				padding: 0;
				max-height: 0;
				transition: all ease 0.5s;
				overflow: hidden;
				&.active {
					max-height: 400px;
					display: flex;
					padding: 20px 0 20px 0;
				}
			}
			&__left {
				width: 50%;
			}
			&__img {
				// position: relative;
				img {
					display: block;
					// height: 100%;
					width: 100%;
				}
			}
			&__btn {
				display: none;
				position: absolute;
				bottom: 0;
				right: 0;
				display: flex;
				button {
					flex: 1;
					padding: 10px 12px;
					background-color: #76fb9c;
					cursor: pointer;
				}
			}
			&__right {
				display: flex;
				flex-direction: column;
				margin-left: 15px;
				width: 50%;
			}
			&__top {
				display: flex;
				justify-content: space-between;
			}
			&__date {
				display: flex;
				flex-direction: column;
				font-family: 'Akrobat';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
				color: #101010;
				row-gap: 3px;
			}
			&__link {
				max-width: 80px;
				a {
					font-family: 'Akrobat';
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 120%;
					text-align: right;
					text-decoration-line: underline;
					text-transform: uppercase;
					color: #101010;
				}
			}
			&__text {
				margin-top: 40px;
				font-family: 'Akrobat';
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 145%;
				color: #101010;
			}
		}
	}
	&__years {
		display: flex;
		align-items: start;
		&-item {
			padding: 16px 26px 18px;
			font-family: 'Akrobat';
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 120%;
			text-transform: uppercase;
			color: #101010;
			cursor: pointer;
			&.active {
				background-color: #101010;
				color: #f4f3f3;
			}
		}
	}
}

@keyframes scroll--left {
	0% {
		transform: translateY(0) scale(-1);
	}
	100% {
		transform: translateY(100%) scale(-1);
	}
}
