.mobilegastronomy-g {
	background-color: #f4f3f3;
	.gastronomybox__title {
		writing-mode: horizontal-tb;
		font-size: 160px;
		line-height: 90%;
		margin-top: 32px;
	}
	.gastronomybox__grid {
		grid-template-columns: repeat(1, 1fr);
		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			padding-left: 16px;
			padding-right: 16px;
		}
	}
	.gastronomyitem {
		padding: 16px 24px;
		&::before {
			left: 0;
		}
		&__inner {
			max-width: 188px;
			@media screen and (min-width: 375px) {
				max-width: 248px;
			}
		}
		@media screen and (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__btn {
		border-top: 0.5px solid #bebebe;
		padding: 32px 0 46px;
		button {
			display: block;
			margin: 0 auto;
			background-color: transparent;
			padding: 15px 54px;
			border: 1px solid #727272;
			font-family: 'Akrobat';
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 115%;
			text-transform: uppercase;
			color: #101010;
		}
	}
}
