.artistprofile {
	display: flex;
	height: 100%;
	flex: 1;

	&__card {
		flex: 1;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		div:first-child {
			flex: 1;
		}
		div:last-child {
			flex: 1;
		}
	}
	&__date {
		&-wrapper {
			display: flex;
			justify-content: space-between;
			font-family: 'Akrobat';
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 120%;
			text-transform: uppercase;
			color: #101010;
		}
	}
	&__name {
		margin-bottom: 50px;
		font-family: 'Akrobat';
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 77px;
		text-transform: uppercase;
		color: #101010;
	}
	&__description {
		font-family: 'Akrobat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 145%;
		color: #101010;
	}
	&__img {
		width: 50%;
		overflow: hidden;
		img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
