.events__content-items__img {
	max-width: 650px;
	max-height: 400px;
}
.swiper {
	// width: 450px;
	// max-width: 650px;
	height: 400px;
	margin: 0;
	&-wrapper {
		flex-direction: row;
	}
	@media (max-width: 1440px) {
		height: 280px;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	top: auto;
	bottom: 0;
	background-color: #76fb9c;
	height: 40px;
	width: 40px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 1;
}
.swiper-button-prev:after {
	content: url('../../../../assets/icons/left-big-arrow.svg');
	position: absolute;
	bottom: 2px;
}
.swiper-button-next:after {
	content: url('../../../../assets/icons/right-big-arrow.svg');
	position: absolute;
	bottom: 2px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: auto;
	right: 40px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: auto;
}
