.info-container {
	position: relative;
	height: 40px;
	font-size: 14px;
	background-color: #101010;
	color: #f4f3f3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 22px 10px 22px;
	min-width: 40px;
	white-space: nowrap;
	font-size: 14px;
	font-family: AkrobatSemiBold;
}

@media screen and (max-width: 1100px) {
	.info-container div:nth-child(1) {
		display: none;
	}
	.info-container img:first-child {
		display: none;
		overflow: hidden;
	}
}

.info-container img {
	width: 10px;
	height: 10px;
}

.bottom-container {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 50vw;
	height: 42vh;
	background-color: #f4f3f3;
	background: #f4f3f3;
}

.bottom-content {
	// display: grid;
	grid-template-columns: repeat(2, 23.5vw);
	width: calc(50vw - 80px);
	height: 100%;
	min-height: 240px;
	padding: 40px 40px 40px 40px;
	box-sizing: border-box;
}

.author-info img {
	margin-left: 20px;
	max-width: 56px;
	max-height: 42px;
}

.date-container {
	display: grid;
}

.author-info {
	width: 50%;
	font-size: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	white-space: nowrap;
}

.info-container img {
	animation: star-roll 3s linear infinite;
}

@keyframes star-roll {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@media screen and (max-width: 1100px) {
	.author-info {
		font-size: 18px;
	}
}

.date-content {
	width: 50%;
	font-size: 20px;
	color: #727272;
	font-family: AkrobatSemiBold;
	font-size: 20px;
	line-height: 120%;
}

.author-name {
	font-size: 32px;
	line-height: 120%;
	font-family: AkrobatBold;
	color: #101010;
}
.next-container {
	cursor: pointer;
	display: flex;
	flex-direction: row-reverse;
	width: 80px;
	height: 100%;
	position: absolute;
	left: -40px;
	align-items: center;
	transition: all ease 0.3s;
}
.next-container:hover {
	left: 0;
}
.next-container img {
	height: 10px;
	width: 10px;
}
.button-arrow {
	width: 40px;
}
.button-next {
	display: flex;
	width: 40px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	overflow: hidden;
	border-left: 1px solid #bebebe;
}

// .button-next:hover img {
// 	display: none;
// }

.button-next-hover {
	display: flex;
	width: 40px !important;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

// .button-next:hover .button-next-hover img {
// 	display: block;
// }

// .button-next-hover img {
// 	display: none;
// 	height: 10px;
// 	width: 6px;
// }

// .button-next img {
// 	height: 10px;
// 	width: 6px;
// }

@media screen and (max-width: 1330px) {
	.bottom-content {
		// padding: 10px;
	}
	.author-name {
		font-size: 28px;
	}
	.author-picture img {
		margin-left: 5px;
		max-width: 51px;
		max-height: 37px;
	}
}

@media screen and (max-width: 1100px) and (max-height: 650px) {
	.author-info {
		height: 30%;
	}
}
